extends base
block Indexcss
block script
block content
block header
block footer

      section
        .container
          .text-center
            img(style='font-weight: bold; margin-top: 100px; margin-bottom: 20px;')(src='#')
            h4
              | Login to your Business Account
        #login-container.container
          .row
            .col
              .card-wrap
                form.bus-login-form
                  .row.mx-2.my-3
                    #form-container-login.col
                      label(for='email-bus-login')  Business Email-Address 
                      input#email-bus-login.form-control(type='text', placeholder='Username/Email-Address' required='')
                  .row.mx-2.my-3
                    .col
                      .password-wrap
                        label(for='pass-bus-login') Password
                        input#pass-bus-login.form-control(type='password', placeholder='Password' required='')
                  .text-center
                    button.btn.btn-lg.my-3.align.align-items-center(style='width: 100%; background-color: #01afee; color: white;', type='submit') login to your account 
                  .mt-3
                  .text-center
                    p
                      | New to RiraPay? 
                      a(href='#') Create a free Business Account
                    p
                    a(href='#') Forgot Your Password?