extends base
block Indexcss
block script
block content
block header
block footer

      section
        .container
          .text-center
            img(style='font-weight: bold; margin-top: 100px; margin-bottom: 20px;' src='#')
            h4
              | Forgot Password for Personal Account
        .form-container
          .row.mx-lg-4
            .col
              .card-wrap
                form.forgot-form
                    .row.mx-2
                        .col
                            label Your Email-Address 
                            input#forgot-email.form-control(type='email', placeholder='Email-Address' required='')
                    .text-center
                        button#sign-up-button.btn.btn-lg.mt-3(type='submit') Continue