extends base
block Indexcss
block script
block content
block header
block footer

      section
        .container
          .text-center
            img.login-head(src='#')
            h4
              | Login
        .form-container
          .row.no-gutters
            .col
              .card-wrap
                form.login-form
                  .row.mx-2.my-3
                    .col
                      label(for='email-login')  Email-Address 
                      input#email-login.form-control(type='text', placeholder='Username/Email-Address' required='')
                  .row.mx-2.my-3
                    .col
                      .password-wrap
                        label(for='pass-login') Password
                        input#pass-login.form-control(type='password', placeholder='Password' required='')
                        span.fa.fa-fw.fa-eye.view-password-icon.toggle-password(toggle='#pass-login')
                  .text-center
                    button.btn.btn-lg.rira-color-btn.my-3(type='submit') login to your account 
                    .mt-3
                      p
                        | New to RiraPay? 
                        a(href='/signup') Sign Up
                    p
                      a(href='#') Forgot Your Password?